.card {
  margin-bottom: 4px;
  border: 2px solid #f2f2f2;
}

.card-contents {
  padding-top: 84px;
}

.card-contents {
  width: 80%;
  margin: 0 auto;
}

.card--stats {
  font-family: "Anton", sans-serif;
}

.card--stats * {
  text-align: center;
  margin: 0.5rem 0;
}

.card--name {
  font-family: "Bangers", cursive;
  font-size: 36px;
  letter-spacing: 1px;
}

.card--price {
  margin-bottom: 0;
}

.card--bioprice {
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.season-img {
  width: 20vw;
  vertical-align: auto;
}

.flex {
  display: flex;
}

.card--cover {
  width: 45vw;
  max-width: 300px;
  max-height: 450px;
  vertical-align: middle;
}

.card--details {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 769px) {
  .card--details {
    flex-direction: column-reverse;
  }
  .season-img {
    width: 100%;
    margin: 0 auto;
  }
  .card--stats h5 {
    margin-bottom: 0;
  }

  .card--stats * {
    text-align: center;
    margin: 0.5rem 1rem;
  }

  .card--name {
    margin: 0 auto;
    width: 100%;
  }
  .card--bioprice {
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .card-contents {
    width: 100%;
  }

  .card--details {
    flex-direction: column-reverse;
  }

  .season-img {
    width: 100%;
    margin: 0 auto;
  }

  .card--name {
    font-family: "Bangers", cursive;
    font-size: 24px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 600px) {
  .card-contents {
    padding-top: 64px;
  }
}
